@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  font-display: swap;
  src: url(/fonts/Virgil.woff2) format('woff2');
}

.link {
  @apply font-semibold underline decoration-black dark:decoration-white;
}
@layer base {
  h1 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply mb-1 text-xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-lg font-bold md:text-xl;
  }
  ol {
    @apply ml-2 mt-5 list-disc space-y-2;
  }
  li {
    @apply list-outside;
  }
  code {
    @apply rounded-md bg-gray-100 font-mono text-lg dark:bg-gray-800;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #202020;
  @apply font-lato transition-colors dark:bg-dark dark:text-white;
}

.code-container {
  @apply my-4 rounded-md bg-gray-100 p-4 dark:bg-gray-800;
}

.noselect {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#signature {
  stroke-dasharray: 1380;
  stroke-dashoffset: 1380;
  animation: signature 4s ease;
  animation-fill-mode: forwards;
}

@keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
